md-menu {
  margin-top: 20px;
}
.autentificare{
  position: absolute;
  margin-bottom: 0px;
}
.md-card_container_menu{
  padding: 10px;
}

.cardlist{
  margin-top: 150px;
}

.cardFooter{
  margin-top: 20px;
  padding: 10px;
}
