<md-sidenav-container class="example-container" fullscreen>

  <md-sidenav #sidenav mode="side" class="app-sidenav" >
    <span class="app-toolbar-filler"></span>
    <app-menu></app-menu>

  </md-sidenav>

  <md-toolbar color="primary" >
    <i class="material-icons" (click)="sidenav.toggle()">menu</i>

    Timisoara Doneaza
    <span class="app-toolbar-filler"></span>
  </md-toolbar>

  <div class="md-card_container_home" >
    <md-card class="admin0card" >
      <md-card-title>Bine ai venit!</md-card-title>
      <i class="material-icons">accessibility</i>
      <md-card-content color="primary" class="cardNewCentru">
        Salutare, pentru acces in aplicație te rog sa creezi un cont!<br>
        Multumim pentru ceea ce faci!<i class="material-icons">favorite_border</i><br>
        Echipa Timisoara Doneaza!
      </md-card-content>
    </md-card>
    <md-card  class="admin0card" style="opacity: 0.9; width: auto">




      <md-card-title>Profil</md-card-title>
      <md-card-content>

        <form name="form" (ngSubmit)="f.form.valid && update()" #f="ngForm" >


          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
            <label for="name">Nume</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" placeholder="{{Currentuser.name}}"/>

          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !age.valid }">
            <label for="age">Varsta</label>
            <input type="text" class="form-control" name="age" [(ngModel)]="model.age" #age="ngModel" placeholder="{{Currentuser.age}}"/>

          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !blodd.valid }">
            <label for="blodd">Grupa de sange</label>
            <input type="text" class="form-control" name="blodd" [(ngModel)]="model.blodd" #blodd="ngModel" placeholder="{{Currentuser.blodd}}"/>

          </div>



          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
            <label for="address">Adresa</label>
            <input type="text" class="form-control" name="blodd" [(ngModel)]="model.blodd" #address="ngModel"  placeholder="{{Currentuser.address}}"/>

          </div>
          <div class="form-group">
            <button class="btn btn-primary">Salvare date</button>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </div>

</md-sidenav-container>
<router-outlet></router-outlet>
